body {
  padding-top: 50px;
}

#gridLic .yellow {
    color: #ffd800;
}

#gridLic .green {
    color: #008000;
}

#gridLic .red {
    color: #ff0000;
}

#holderInfoTable tr{
    height: 50px;
}

#holderInfoTable td {
    text-align: right;
}

#ulHome li {
    font-family: Segoe UI Light, Segoe UI, Segoe, Tahoma, Helvetica, Arial, sans-serif;
    font-size: 2.3em;
    color: #404040
}